<script
  id="tt_widget_loader"
  src="https://tictail-apps.global.ssl.fastly.net/storefront-widget/loader.js"
  data-feature-colophon
  data-in-storefront
  data-store-id="{{store_identifier}}"
></script>

<script>
  window.__ttBaseUrl = "https://tictail.com",
  window.__ttApiBaseUrl = "https://api.tictail.com",
  window.__ttColophonUrl = "https://tictail.com/cart/{{store_subdomain}}",
  window.__ttSearchUrl = "/search",
  window.__ttAssetsUrl = "//app.ttcdn.co/theme_assets",
  window.__ttLocaleData = {},
  window.__ttExchangeRates = {
    "USD": 1,
    "TWD": 30.643,
    "ILS": 3.656425,
    "GBP": 0.800671,
    "DKK": 7.0085,
    "CAD": 1.33258,
    "JPY": 109.56088889,
    "HUF": 294.1415,
    "MYR": 4.4335,
    "SEK": 9.053685,
    "SGD": 1.40304,
    "HKD": 7.770882,
    "AUD": 1.333096,
    "CHF": 1.006918,
    "TRY": 3.696239,
    "NZD": 1.437513,
    "THB": 34.537,
    "EUR": 0.942478,
    "NOK": 8.595368,
    "RUB": 57.0631,
    "MXN": 18.768868,
    "CZK": 25.1057,
    "BRL": 3.1383,
    "PLN": 4.00425,
    "PHP": 49.64
  },
  window.__ttSubdomain = "{{store_subdomain}}",
  window.__ttStoreId = "{{store_identifier}}",
  window.__ttStoreLanguage = "{{store_language}}",
  window.__ttUserLanguage = "{{user_language}}",
  window.__ttAnalyticsId = "UA-000000-01",
  window.__ttSession = {
    "track": {
      "storefront_utm_medium": null,
      "storefront_utm_content": null,
      "storefront_utm_source": null,
      "storefront_utm_term": null,
      "storefront_utm_campaign": null
    },
    "behaviors": {
      "respect_browser_locale": false
    },
    "cdn": "none",
    "experiments": {}
  };
</script>
